@use "../global" as *;

.underlayer_top_wrapper {
  margin-top: 6rem;
  padding: 10% 12%;
  background-color: $red2;
  transition: all 1s;
  &:hover {
    background-color: $parpul2;
  }
  .underlayer_top_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(SP-s){
      flex-direction: column;
    }
  }
  
  .page_top_ttl {
    text-align: center;
    font-weight: bold;
    font-size: clamp(3.2rem,6.85vw, 7rem);
    .underlayer_sub_ttl {
      color: $black;
      font-weight: bold;
      font-size: clamp(1.2rem,1.71vw,2.4rem);
    }
  }

  .page_top_txt {
    padding: 3%;
    margin-left: 15%;
    font-weight: bold;
    color: $black;
    font-size: clamp(1.4rem,2.28vw,3.2rem);
    @include mq(SP-s) {
      padding-top: 6%;
      margin: unset;
      width: 80%;
    }
  }
}

.under_wrapper {
  position: relative;
}
.under_box {
    position: absolute;
    top: -1.5rem;
    width: 35%;
    height: 3rem;
    background-color: $white;
  }
  
.under_company {
  margin-bottom: 8.5%;
  &_concept_txt {
    padding: 5% 17%;
  }
  &_concept_ttl {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5%;
    padding-bottom: 1%;
    font-family:  'Architects Daughter', cursive ;
    font-size: clamp(2rem,2.85vw,4rem);
    border-bottom: 2px solid $parpul2;
  }
  &_concept_txt_inner {
    font-size: clamp(1.4rem,1.42vw,2rem);
  }
  &_img {
    width: 100%;
    height: auto;
    img {
      width: 100%;
    }
  }
}

table {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 8%;
  font-size: clamp(1.6rem,1.71vw,2.4rem);
  tr {
    border-bottom: 1px solid $blue2;
  }
  th {
    @include mq(SP2) {
      display: block;
      padding: 1rem 0;
    }
  }
  td {
    padding: 2rem 0;
    @include mq(SP2) {
      display: block;
      padding: unset;
      padding-bottom: 1rem;
    }
  }
}

