@use "../global" as *;

.contact_top_wrapper {
  background-color: $pink;
}

.under_wrapper {
  .under_contact {
    padding-top: 8.5%;
    }

  .contact_form_wrapper {
    background-image: url(../img/下層CONTACT-img.jpg);
    width: 100%;
    height: auto; 
    padding: 8% 6%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s;
    top: 50px;
    position: relative;
    @include mq(TB3) {
      padding-top: 15%;
      padding-bottom: 10%;
    }
  }
  .active {
    opacity: 1;
    top: 0;
  }
  form {
    position: relative;
    .contact_form_item {
      margin-bottom: 3%;
      @include mq(TB3) {
        margin-bottom: 10%;
      }
      label {
        display: block;
        font-weight: bold;
        font-size: clamp(1.6rem,1.5vw,2.4rem);
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        background: $white2;
        border: 1px solid $white2;
        border-radius: 10px;
        padding: 3%;
        font-size: 1.6rem;
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"] {
        width: 65%;
        @include mq(TB3) {
          width: 100%;
        }
      }
      textarea {
        width: 65%;
        height: 40vh;
        @include mq(TB3) {
          width: 100%;
        }
      }
    }
    .send_btn {
      position: absolute;
      bottom: 1%;
      right: 5%;
      width: 20%;
      padding: 2% 0;
      border-radius: 50px;
      font-size: clamp(2rem,2.57vw,3.6rem);
      background-color: $yellow4;
      transition: all 1s;
      &:hover {
        background-color: $pink;
      }
      @include mq(TB3) {
        width: 13rem;
        right: 50%;
        position: static;
        display: block;
        margin: 0 auto;
      }
    }
    input[type="submit"] {
    line-height: 1;
    border: none;
    cursor: pointer;
    }
  }
  .contact_form_txt {
    padding: 8%;
    text-align: center;
    background-color: $parpul2;
    @include mq(TB3) {
      padding: 15%;
    }
    &_ttl {
      font-size: clamp(1.6rem,1.42vw,2rem);
      margin-bottom: 5%;
    }
    &_tel {
      font-size: clamp(1.6rem,1.42vw,2rem);
    }
  }
}