@use "../global" as *;

.under_wrapper {
  .under_news {
    padding-top: 8.5%;
    &_img {
      width: 100%;
      margin: 0 auto;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &_txt {
      width: 80%;
      padding: 6% 10%;
      margin: 0 auto;
      margin-bottom: 6%;
      text-align: center;
      &_date {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 2%;
        font-size: clamp(1.4rem,1.42vw,2rem);
        border-bottom: 1px solid $red;
      }
      &_ttl {
        padding-bottom: 6%;
        font-size: clamp(1.6rem,1.42vw,2rem);
      }
      &_inner {
        display: inline-block;
        text-align: left;
        margin: 0 auto;
        font-size: clamp(1.4rem,1.42vw,2rem);
      }
    }
  }


  .under_news_pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
    .top_news {
      font-size: clamp(1.6rem,2.28vw,3.2rem);
    }
    .preview {
      position: relative;
      display: inline-block;
      vertical-align:baseline;
      padding-right: 8%;
      font-size: clamp(1.4rem,1.42vw,2rem);
      @include mq(SP2) {
        padding-right: 15%;
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 55%;
        @include mq(SP2) {
          left: 50%;
        }
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        border-top: 1px solid $black;
        border-left: 1px solid $black;
        transform: rotate(-45deg);
        margin-top: -5px;
      }
      

    }
    .next {
      position: relative;
      display: inline-block;
      vertical-align:baseline;
      padding-left: 8%;
      font-size: clamp(1.4rem,1.42vw,2rem);
      @include mq(SP2) {
        padding-left: 15%;
      }
      &::before {
        position: absolute;
        top: 50%;
        right: 55%;
        @include mq(SP2) {
          right: 50%;
        }
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        border-top: 1px solid $black;
        border-right: 1px solid $black;
        transform: rotate(45deg);
        margin-top: -5px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}