@use "../global" as *;

.works_top_wrapper {
  background-color: $yellow2;
}

.under_works {
  padding-top: 8.5%;
}

.under_wrapper {
  .under_works {
    &_inner {
      width: 70%;
      margin: 0 auto;
      display: flex;
      column-gap: 5%;
      opacity: 0;
      transition: 1s;
      top: 50px;
      position: relative;
      @include mq(TB2) {
        flex-direction: column;
      }
      &_item_box {
        &_img {
          width: 100%;
          height: auto;
          filter: drop-shadow(6px 6px 10px $pink);
          img {
            width: 100%;
            height: 100%;
          }
        }
        .under_works_txt {
          width: 100%;
          padding: 13% 8%;
          &_ttl {
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 5%;
            border-bottom: 1px solid $yellow3;
            font-size: clamp(1.6rem,1.71vw,2.4rem);
            color: $black;
            font-weight: bold;
          }
          &_inner {
            font-size: clamp(1.4rem,1.42vw,2rem);
          }
        }  
      }
    }
    .active {
      opacity: 1;
      top: 0;
    }
  }

  .works_flow {
    overflow: hidden;
    &_inner {
      min-height: 400px;
      border-top-right-radius: 1000px 200px;
      border-top-left-radius: 1000px 200px;
      margin-left: -100px;
      margin-right: -100px;
      padding-left: 100px;
      padding-right: 100px;
      background-color: $pink;
      padding-bottom: 7%;
      &_ttl {
        width: fit-content;
        margin: 0 auto;
        padding-top: 10%;
        margin-bottom: 6%;
        border-bottom: 1px solid $blue;
        p {
          font-size: clamp(2rem,2.28vw,3.2rem);
          font-weight: bold;
        }
        @include mq(TB-L2) {
          margin-bottom: 8%;
        }
      }
      &_item {
        display: flex;
        justify-content: center;
        column-gap: 5%;
        opacity: 0;
        transition: 1s;
        top: 50px;
        position: relative;
        @include mq(TB-L2) {
          flex-direction: column;
          align-items: center;
        }
        &_wrapper {
          width: 25%;
          @include mq(TB-L2) {
            width: 50%;
              padding-bottom: 8%;
              &:last-child {
                padding-bottom: 0;
              }
              @include mq(SP2) {
                width: 70%;
              }
          }
        &_img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        &_txt {
          width: 70%;
          margin: 0 auto;
          padding-top: 11%;
          padding-left: 2%;
          font-size: clamp(1.4rem,1.42vw,2rem);
          text-indent: clamp(-1.5rem,-1.78vw,-2.5rem);
        }
      }
      }
      .active {
        opacity: 1;
        top: 0;
      }
    }
    &_under_txt {
      padding: 10% 0;
      background-color: $parpul;
      p {
        width: 70%;
        margin: 0 auto;
        font-size: clamp(1.4rem,1.42vw,2rem);
        font-weight: bold;
      }
    }
  }
}

