$bage: rgba(250, 247, 227, 1);
$orange:  rgba(212, 137, 104, 0.75);
$white: #fff;
$grey: rgba(217, 217, 217, 0.69);
$blue: rgba(26, 5, 85, 1);
$blue2: rgba(22, 12, 52, 1);
$lightblue: rgba(9, 59, 155, 1);
$yellow: rgba(250, 197, 61, 0.5);
$yellow2: rgba(250, 197, 61, 1);
$yellow3: rgba(236, 174, 15, 1);
$green: #A1B525;
$red: #D48968;
$black: #000000;
$parpul: rgba(216, 209, 236, 1);
$parpul2: rgba(44, 14, 132, 0.09);
$pink: rgba(239, 221, 221, 1);
$white2: rgba(255, 255, 255, 0.8);
$red: rgba(248, 13, 13, 1);
$red2: rgba(241, 113, 113, 1);
